<% if list %>
<div class="inventory-food-table">
    <table>
    <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
    <% list.each do |food| %>
    <tr>
    <% f = foods.find { |f| f.id == food.food_id } %>
      <td><%= f.name %></td>
      <td><%= food.quantity %></td>
      <td><%= button_to "Destroy this inventory food", @inventory_food, method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
