<p style="color: green"><%= notice %></p>



<div id="recipes-holder">

  <div class="new-recipe">
  <%= button_to "+ Add New Recipe", new_recipe_path, method: :get %>
  </div>

  <div id="recipes">
  <h1>Recipes List</h1>

  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
  </div>
</div>

