<div class="page">
  <p style="color: green"><%= notice %></p>
      <h1>Recipes List</h1>

      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>

      <div>
        <%= link_to "Add Recipe", new_recipe_path, method: :get %>
      </div>

</div>